.about-project {
  padding: 50px 0 110px;
}

@media (max-width: 768px) {
  .about-project {
    max-width: 708px;
    padding: 30px auto 89px;
  }
}

@media (max-width: 320px) {
  .about-project {
    padding-top: 71px;
  }
}
