.about-project__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  letter-spacing: -0.04em;
  margin: 0 0 26px 0;
}

@media (max-width: 768px) {
  .about-project__title {
    margin-bottom: 21px;
  }
}

@media (max-width: 320px) {
  .about-project__title {
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 16px;
  }
}
