.profile__item_position_second {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .profile__item_position_second {
    margin-bottom: 10px;
  }
}

@media (max-width: 440px) {
  .profile__item_position_second {
    margin-bottom: 10px;
  }
}
