.profile__container {
  padding: 74px 0 70px;
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .profile__container {
    padding: 236px 0 268px;
  }
}

@media (max-width: 440px) {
  .profile__container {
    padding: 70px 0 39px;
  }
}
