.profile__input {
  max-width: 340px;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  line-height: 121%;
  text-align: right;
}

.profile__input::placeholder {
  text-align: right;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  line-height: 121%;
}

.profile__input:focus-visible {
  outline: none;
}