.login__logo {
  background-image: url(../../images/logo.svg);
  display: block;
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 40px;
}

@media (max-width: 420px) {
  .login__logo {
    margin: 0 auto 50px auto;
  }
}