.login__message {
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  margin-top: 17px;
}

@media (max-width: 420px) {
  .login__message {
    font-size: 12px;
    line-height: 14.52px;
    margin-top: 15px;
  }
}
