.register__input {
  background-color: transparent;
  border: none;
  width: 100%;
  border-bottom: 1px solid #424242;
  color: #fff;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 500;
  margin-bottom: 3px;
  padding-bottom: 8px;
  padding-left: 0;
  border-radius: 0;
}

.register__input:focus-visible {
  outline: none;
}

.register__input:focus {
  border-color: #4285f4;
}
