.register__message {
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .register__message {
    font-size: 12px;
    line-height: 14.52px;
    margin-top: 15px;
  }
}