.footer__description {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  color: #8b8b8b;
  font-size: 13px;
  font-weight: 400;
  line-height: 121%;
}

@media (max-width: 320px) {
  .footer__description {
    font-size: 12px;
    line-height: 14.52px;
    padding-bottom: 21px;
  }
}
