.footer__info {
  padding: 20px 0;
  border-top: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .footer__info {
    padding-top: 19px;
  }
}

@media (max-width: 320px) {
  .footer__info {
    padding-top: 28px;
    flex-direction: column-reverse;
  }
}
