.about-me__job {
  margin: 0 0 26px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
}

@media (max-width: 768px) {
  .about-me__job {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 320px) {
  .about-me__job {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 16px;
  }
}
