.header__registr {
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.header__registr:hover {
  opacity: 70%;
  transition: opacity 0.3s;
}

@media (max-width: 320px) {
  .header__registr {
    font-size: 10px;
    line-height: 16px;
  }
}
