.header__login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #3ddc84;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.header__login:hover {
  opacity: 70%;
  transition: opacity 0.3s;
}

@media (max-width: 320px) {
  .header__login {
    font-size: 10px;
    width: 54px;
    height: 26px;
  }
}
