.not-found__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 121%;
  margin-top: 140px;
  margin-bottom: 5px
}

@media (max-width: 450px) {
  .not-found__title {
    font-size: 80px;
    line-height: 96.82px;
  }
}