.techs__text {
  max-width: 460px;
  width: 100%;
  font-size: 14px;
  line-height: 143%;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0 auto 100px;
}

@media (max-width: 768px) {
  .techs__text {
    max-width: 460px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 83px;
  }
}

@media (max-width: 320px) {
  .techs__text {
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 50px;
  }
}