.techs__icon {
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  letter-spacing: -0.04em;
  margin: 0;
  width: 90px;
  height: 60px;
}

@media (max-width: 768px) {
  .techs__icon {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 14.52px;
  }
}
